*.class

# Package Files #
*.dex
*.war
*.ear
*.apk
bin/
bin
gen/
release/
release
gen
.metadata/
.metadata
*.project

# IDEA Files #
.idea/workspace.xml
.idea/tasks.xml

# Maven Build Output #
target
